kann==5.1.0
numpy==1.23.5
pyyaml>=5.1
tensorflow-cpu==2.11.0
protobuf==3.19.6
flatbuffers==23.5.26
torch==2.1.0
torchvision==0.17
onnx==1.12.0
onnxruntime==1.13.1
onnx-simplifier>=0.3.10
tqdm==4.66
click>=8.0
cerberus>=1.2
pkgconfig>=1.5.5
netron
graphviz
argcomplete
matplotlib
pandas
Jinja2
openpyxl
pyqtgraph~=0.13
PyQt5~=5.15
